/* Base Styles */
html {
  font-size: 18px;
}
body {
  font-family: helvetica;
}

/* Header Styles */

.headercontainer {
  background-image: url("../images/glasses-bg.png");
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}
.bannerbox {
  background-color: cadetblue;
  display: flex;
  width: 888px;
  margin: 0px auto;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}
.branding {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: white;
}
.branding img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}
nav a {
  color: white;
  text-decoration: none;
  padding-left: 2rem;
}
.phone {
  display: none;
}
.call {
  width: 960px;
  margin: 0px auto;
  display: flex;
  justify-content: flex-end;
}
.call p {
  background-color: white;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

/* Icons Styles */
.icons {
    max-width: 960px;
    margin: 0px auto;
}
.imagebox {
  display: flex;
  justify-content: center;
  margin: 3rem 0px;
  height: 8rem;
}
.image {
  color: black;
  padding: 0px 3rem;
}
.imagecontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 5rem;
}
.image.paper img {
  width: 3.5rem;
}
.image.fit img {
  width: 5rem;
}
.image.glasses img {
  width: 5rem;
}
.image p {
  display: block;
  padding-top: 0.5em;
  text-align: center;
}
br {
  line-height: 150%;
}



/* Info Styles */
.infocontainer {
  display: flex;
  justify-content: center;
  max-width: 960px;
  margin: auto;
}
.infobox {
  width: 35%;
  padding-right: 5%;
}
p.philo {
  background-color: cadetblue;
  color: white;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 10rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
}


/* Footer Styles */
.footerbox {
  max-width: 960px;
  background-color: azure;
  display: flex;
  padding: 4rem 4rem;
  margin: auto;
  margin-top: 5rem;
  align-items: center;
}
.footerbox img {
  margin-right: 1rem;
  height: 1.5rem;
}


/* Responsive Design Styles */
@media only screen and (min-width: 661px) and (max-width: 960px) {
.headercontainer{
  padding-top: 0px;
  height: 22rem;
}
.bannerbox {
  width: auto;
}
.call {
  width: auto;
}
.call p {
  background-color: white;
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: bold;
  padding: 0.75rem 4rem;
  margin-top: 5rem;
  margin-right: 2rem;
}
.phone {
  display: none;
}
}
@media only screen and (max-width: 661px) {
.headercontainer {
  background-position: 20%;
  height: 17rem;
  padding-top: 0rem;
}
.nav {
    display: none;
}
.phone {
    color: white;
    text-decoration: none;
    display: flex;
}
.bannerbox {
  width: auto;
}
.call {
width: auto;
}
.call p {
  margin-right: 0px;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 9rem;
}
.imagebox {
  display: inline-block;
  margin-top: 3.77rem;
  height: auto;
}
.icons {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.image.fit {
  margin-top: 1.54rem;
}
.image.glasses {
  margin-top: 1.54rem;
}
.image p {
  font-size: 0.77rem;
  padding-top: 1rem;
}
.imagecontainer {
  height: auto;
}

.info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.infocontainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.infobox {
  width: auto;
}
p.philo {
  width: 100%;
  text-align: center;
}
p.text {
  margin-bottom: 4rem;
  padding-left: 0.5rem;
  font-size: 0.77rem;
}
.footerbox {
  justify-content: center;
}
.footerbox p {
    display: none;
}
.footerbox img {
  margin: 0px;
}
}
